<div class="container-fluid border">

<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 <div class="form-row">
        <div class="form-group col-md-6">
          <label for="user_name">Nome</label>
          <%= form.text_field :name, id: :user_name, class: "form-control", placeholder: "Nome" %>
        </div>
        <div class="form-group col-md-6">
          <label for="user_cpf">CPF</label>  
          <%= form.text_field :cpf, id: :user_cpf, class: "form-control",  placeholder: "000.000.000-00" %>
        </div>
      </div>
    <div class="form-row">               
        <div id="date-form"class="form-group col-md-6">
          <label for="user_birthDate">Data de nascimento</label>   
          <div class="d-flex flex-row">
          <%= form.date_select :birthDate, {order: [:day, :month, :year], prompt: { day: 'dia', month: 'mês', year: 'ano' }, start_year: Date.today.year, end_year: Date.today.year - 100}, {:class => "form-control p-2 mr-3 "} %>
          </div>
        </div>
      <div class="form-group col-md-6">
        <label for="user_email">Email</label>
        <%= form.text_field :email, id: :user_email, class: "form-control",  placeholder:"example@example.com" %>
      </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="user_address">Endereço</label>
            <%= form.text_field :address, id: :user_address, class: "form-control",  placeholder: "Rua exemplo" %>
          </div>
        <div class="form-group col-md-6">
          <label for="user_cellphone">Telefone</label>
          <%= form.text_field :cellphone, id: :user_cellphone, class: "form-control",  placeholder: "90011-0011" %>
        </div>
      </div>
  
    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="input_state">State</label>
        <%= form.select :user_state, [['Pernambuco', 26], ['São Paulo',35], ['Berlin', 3]], {}, :id=> "user_state", :class=> "form-control" %>       
      </div>
      <div class="form-group col-md-6">
        <label for="user_city">City</label>
        <%= form.select :user_state, [], {}, :id=> "user_city", :class=> "form-control" %>
      </div>
      <div class="form-group col-md-2">
        <label for="user_cep">Cep</label>
        <%= form.text_field :cep, id: :user_cep, class: "form-control",  placeholder: "00000-000" %>
      </div>
    </div>
  <div class="actions">
    <%= form.submit 'Confirmar', :class => 'btn btn-success' %>
    <%= link_to '<button type="button" class="btn btn-primary float-right">Voltar</button>'.html_safe, users_path %>
  </div>
<% end %>
</div>