<p id="notice"><%= notice %></p>
<nav class="navbar navbar-light bg-light container-fluid">
<span class="navbar-brand mb-0 h1">Detalhes</span>
</nav>
<div class="container-fluid "> 
  <table class="table table-bordered w-50 float-left">
    <tr>
      <td>
        <p>
          <strong>Name:</strong>      
        </p>
      </td>
      <td>
        <p>
        <%= @user.name %>
        </p>
      </td>
      <td>
        <p>
          <strong>CPF:</strong>     
        </p>
      </td>
      <td>
        <p>
          <%= @user.cpf %>
        </p>
      </td>     
    </tr>
    <tr>
      <td>
        <p>
          <strong>Data de Nascimento:</strong>     
        </p>
      </td>
      <td>
        <p>
          <%= @user.birthDate %>
        </p>
      </td>
      <td>
        <p>
          <strong>Email:</strong>  
        </p>
      </td>
      <td>
        <p>
          <%= @user.email %>
        </p>
      </td>
    </tr>
    <tr>
    <td>
      <p>
        <strong>Telefone:</strong>      
      </p>
    </td>
    <td>
      <p>
      <%= @user.cellphone %>
      </p>
    </td>
    <td>
      <p>
        <strong>Endereço:</strong>     
      </p>
    </td>
    <td>
      <p>
        <%= @user.address %>
      </p>
    </td>    
  </tr>
  <tr>
    <td>
      <p>
        <strong>CEP:</strong>     
      </p>
    </td>
    <td>
      <p>
        <%= @user.cep %>
      </p>
    </td>
    <td>
      <p>
        <strong>Cidade:</strong>  
      </p>
    </td>
    <td>
      <p>
        <%= @user.city %>
      </p>
    </td>
  </tr>
  <tr>
    <td>
      <p>
        <strong>Estado:</strong>  
      </p>
     </td>
    <td>
      <p>
        <%= @user.state %>
      </p>
    </td>
  </tr>
  </table>
</div>

<div class=" w-50 float-left">
    <%= link_to '<button type="button" class="btn btn-warning">Editar</button>'.html_safe,  edit_user_path(@user) %> 
    <%= link_to '<button type="button" class="btn btn-primary float-right">Voltar</button>'.html_safe, users_path %>
</div>
